@import "../../style/variables";
@import "../../style/mixins";

.navbar {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  color: var(--text-dark-color);

  .button-logout {
    @include link();
  }

  a,
  .button-logout {
    margin-right: 2rem;
    color: unset;
  }
}