@import "../../style/mixins";

.home {
  .button-editor-toggle {
    @include button();
    background-color: var(--light-color);
  }

  .no-snippets-message {
    margin-top: 2rem;
    color: var(--text-light-color);
    font-weight: bold;
  }

  .no-user-message {
    margin-top: 6rem;
    color: var(--text-light-color);
    text-align: center;

    h2 {
      font-size: 3rem;
    }

    a {
      @include button();
      margin-top: 2rem;
      color: var(--text-dark-color);
      background: var(--light-color);
      display: inline-block;

      &:hover {
        text-decoration: unset;
      }
    }
  }
}