@import "../../style/variables";
@import "../../style/mixins";

.snippet {
  @include card();

  margin: 1.5rem 0;

  .title,
  .description,
  .code {
    margin-bottom: 1rem;
  }

  .code {
    padding: 0.5rem;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1.3rem;
    background: var(--dark-color);
  }

  .button-delete,
  .button-edit {
    @include button();

    margin-right: 1rem;
  }

  .button-edit {
    background: var(--dark-color);
    color: var(--text-light-color);
  }

  .button-delete {
    background: var(--danger-color);
    color: var(--text-light-color);
  }
}