@import "../../style/mixins";
@import "../../style/variables";

.snippet-editor {
  @include card();

  .button-save,
  .button-cancel {
    @include button();
    margin-right: 1rem;
  }

  .button-save {
    background: var(--dark-color);
    color: var(--text-light-color);
  }

  .button-cancel {
    background: var(--danger-color);
    color: var(--text-light-color);
  }
}