:root {
  --primary-color: lightblue;
  --text-dark-color: #3a3a3a;
  --text-light-color: #ffffff;
  --text-link-color: #0a6d8d;
  --text-danger-color: sienna;
  --light-color: lightgray;
  --dark-color: darkgrey;
  --danger-color: red;
  --danger-light-color: Coral;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}